@model ProfileViewModel



<section class="h-100">
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center">
			
			<div class="col col-lg-9 col-xl-8">
				<div class="card bg-dark" style="border: 2px solid #ff6219; ">
					<div class="container">
						<div class="row">
							<div class="col-sm-4">
					<div class="rounded-top text-dark d-flex flex-row" >
						<div class="ms-4 mt-5 d-flex flex-column">
										<img src="@Url.Content(Model.User.PictureUrl)"
								 alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
											 style="width: 150px; z-index: 1; box-shadow:2px 2px 4px dimgray">
									</div>
									</div>
							
						</div>
						<div class="col-sm-8">
						<div class="ms-3 text-light" style="margin-top: 100px;">
									<h4 style="text-align:center;">@Model.User.FirstName @Model.User.LastName</h4>
									<h5 style="text-align:center;"><i>@Model.User.UserName</i></h5>
							</div>
						</div>
							</div>
						
				
					<div class="row">
						<div class="col-sm-5">
					<div class="card-body p-2 text-black">
						<div class="mb-5  text-body">
										<div class="d-flex flex-column justify-content-center mt-2" style="margin-bottom:1rem;">

											<a asp-controller="Cv" asp-action="Cv" asp-route-id="@Model.User.Id" class="btn" style="background-color:#fff; color:#ff6219; margin-bottom:1rem;"><i class="fa-solid fa-file-lines"></i>Visa CV</a>
                                           
											<a asp-controller="Account" asp-action="Settings" asp-route-id="@Model.User.Id" class="btn" style="background-color:#fff; color:#ff6219; margin-bottom:1rem;"><i class="fa-solid fa-gear"></i>Ändra Profil</a>

                                            <a asp-controller="Cv" asp-action="CreateCv" asp-route-id="@Model.User.Id" class="btn" style="background-color:#fff; color:#ff6219; margin-bottom:1rem;"><i class="fa-solid fa-file-circle-plus"></i>Ändra CV</a>
                                           
                                            <a asp-controller="Message" asp-action="ChatList" asp-route-id="@Model.User.Id" class ="btn" style="background-color:#fff; color:#ff6219;">
                                                <i class="fa-solid fa-envelope position-relative">     
												</i>Skicka Meddelande
											</a>
                                           
										</div>
										
									</div>
								</div>
							</div>
							
								<div class="card col-sm-7 mb-2 proj-container">
									<div class="card-body text-black">
                                    
										<h6 class="card-header" style="background-color:#fff; color:#ff6219; text-align:center;">Info om mig</h6>

										
											<div class="proj-item">
												<p class="card-text">@Model.User.Description</p>
											
											</div>
										
										</div>
										</div>

							
									</div>
					<div class="row">
						<div class="col-sm-5">
								<h6 class="lead fw-normal mb-1" style="color:#ff6219;">Kontakt</h6>
								<div class="p-1 bg-body-tertiary">

									@if (@Model.User.ContactInformation != null)
									{
										<ul class="list-unstyled formatted-list">
											<li class="formatted-li"><b>Email:</b> <span style="white-space: nowrap;">@Model.User.UserName</span> </li>
											<li class="formatted-li"><b>Telefon:</b> <span style="white-space: nowrap; ">@Model.User.ContactInformation.Phone</span></li>
											@if (!string.IsNullOrEmpty(@Model.User.ContactInformation.Address))
											{
												<li class="formatted-li"><b>Adress:</b> <span style="white-space: nowrap;">@Model.User.ContactInformation.Address</span> </li>
											}
										</ul>
									}
									else
									{
										<p class="fw-light">Kontaktinformation saknas</p>
									}






								</div>
						</div>
						

						<div class="col-sm-7 mb-2 ">
								<h4 style="color:#ff6219;"><i class="fa-solid fa-hashtag"></i> Taggar</h4>
								<div class="p-1 bg-body-tertiary">

									@if (@Model.User.Tags != null)
									{
										@foreach (var tags in Model.User.Tags)
										{
											<ul class="list-unstyled formatted-list">
												<li class="formatted-li" style="white-space: nowrap;">@Model.User.Tags </li>
											</ul>
										}
									}
									else
									{
										<p class="fw-light">Taggar saknas</p>
									}






								</div>

							</div>
					</div>
					

					
					
									

								</div>
							</div>
						</div>
						</div>
						</div>
					
				
</section>





















