@model MessageViewModel

<div asp-validation-summary="All" class="text-danger"></div>

<h2 style="color:#FFF;">Skriv ett nytt meddelande</h2>

<form asp-action="Add" method="post">
	<label style="color:#FFF;">Till: @Model.Receiver.FirstName @Model.Receiver.LastName</label>
	<br />
	<label style="color:#FFF;">Subject: </label>
	<input asp-for="@Model.Message.Subject" />
	<br />
	<label style="color:#FFF;">Message: </label>
	<input type="textarea" asp-for="@Model.Message.Content" />
	<br />	
	@* <label>SenderId </label>
	<input asp-for="SenderId" />
	<br />	
	<label>RecieverId </label>
	<input asp-for="RecieverId" />
	<br />	 *@
	<input asp-for="@Model.Message.SenderId" type="hidden" value="@Model.Sender.Id" />
	<input asp-for="@Model.Message.ReceiverId" type="hidden" value="@Model.Receiver.Id" />
	<input asp-for="@Model.Message.Date" type="hidden" name="Date" value="DateTime.Now" />
	<input asp-for="@Model.Message.isRead" type="hidden" value="false" />
	<br />
	<br />
	<button type="submit">Skicka</button>
</form>
