@model ChatListViewModel
@using System.Security.Claims

<h2 style="color:#FFF;">Inkorg</h2>
<h3 style="color:#FFF;">Olästa Meddelanden</h3>
@foreach (var message in Model.ReceivedMessages)
{
    <div class="card">
        <h3> Från: @message.Sender.FirstName @message.Sender.LastName </h3>
        <h4> @message.Subject</h4>
      
        @* <form asp-controller="Message" asp-action="ChatList" method="post">
            <input asp-for="@Model.Message.Id" type="hidden" value="@message.Id" />
            <br />
            <br />
            <button type="submit">Visa Meddelande</button>
        </form> *@

            <a class="btn btn-primary text-light"
                   style="background-color:#ff6219; margin-bottom:2rem;"
                   asp-controller="Chat"
                   asp-action="Chat11"
                   asp-route-receiverId="@ViewBag.Id"
                   asp-route-senderId="@message.SenderId">
                   Öppna meddelanden
                </a>
    </div>
}


<a class="btn btn-primary text-light"
               style="background-color:#ff6219; margin-bottom:2rem;"
               asp-controller="Message"
               asp-action="AllUserList"
               asp-route-id="@ViewBag.Id">
               Skriv Nytt Meddelande
            </a>


        


