@model ChatListViewModel

@foreach (Message mess in Model._messages)
{
            <div class"card">

                <h3> @mess.Sender.FirstName @mess.Sender.LastName </h3>
                <h4> @mess.Subject</h4>
                <a  class="btn btn-primary text-light"
                          style="background-color:#ff6219; margin-bottom:2rem;"
                          asp-controller="Chat"
                          asp-action="Chat11"
                          asp-route-senderId="@mess.SenderId"
                          asp-route-receiverId="@mess.RecieverId">
                          Visa Meddelande
               </a>

            </div>
}