@model ProjectViewModel

@{
    ViewData["Title"] = "Projekt";
}

<body class="bodyUserProfileSettings"
      style="margin: 0 0 5rem 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
            background-color: dimgrey;">
    <div class="wrapper my-sm-5"
         style="background-color:#fff;
                padding: 30px 50px;
                border: 1px solid #ff6219;
                border-radius: 15px;
                margin: 10px auto;
                max-width: 600px;">
        <h4 class="pb-4 border-bottom"
            style="letter-spacing: -1px;
                   font-weight: 400;">
            Lägg till Projekt
        </h4>
        <div class="py-2">
            <form asp-action="Add" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row py-2">
                    <div class="col-md-6">
                        <label class="settingsLbl" for="title">Projektets Titel</label>
                        <input asp-for="ProjectToSave.Title" type="text" class="bg-light form-control">
                    </div>
                    <div class="col-md-6 pt-md-0 pt-3">
                        <label class="settingsLbl" for="startdate">Startdatum</label>
                        <input asp-for="ProjectToSave.StartDate" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="bg-light form-control">
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-md-6">
                        <label class="settingsLbl" for="projDescription">Projektbeskrivning</label>
                        <input asp-for="ProjectToSave.Description" type="text" class="bg-light form-control">

                    </div>
                    <div class="col-md-6 pt-md-0 pt-3">
                        <label class="settingsLbl" for="enddate">Slutdatum</label>
                        <input asp-for="ProjectToSave.EndDate" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="bg-light form-control">
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-md-6 ">
                        <label class="settingsLbl" for="projCreator">Skapare av projekt</label>
                        <input asp-for="ProjectToSave.CreatorId" value="@Model.Creator.Id" type="text" class="bg-light form-control" hidden>
                        <input value="@Model.Creator.FirstName @Model.Creator.LastName" disabled />
                    </div>
                    <div class="col-md-6 pt-md-0 pt-3">
                    </div>
                </div>
                <div class="py-3 pb-4 border-bottom">
                    <button type="submit" class="btn border border-light button mr-3 text-light" style="background-color:#ff6219;">Skapa Projekt</button>
                    <button asp-action="ShowProjectsView" class="btn border border-light button" style="background-color: #fff;; color: #ff6219">Avbryt</button>
                </div>
            </form>
        </div>
    </div>
</body>