@model ProjectViewModel

@{
	ViewData["Title"] = "Projekt";
}

<div asp-validation-summary="All" class="text-danger"></div>

<h1>Projekt</h1>

<form asp-action="ProjectView" method="post">
	<input asp-for="ProjectToSave.Title" type="text" />
	<br />
	<input asp-for="ProjectToSave.StartDate" type="date" />
	<br />
	<input asp-for="ProjectToSave.EndDate" type="date" />
	<br />
	<textarea asp-for="ProjectToSave.Description"></textarea>
	<br />
	<input value="@User.Identity" asp-for="ProjectToSave.CreatorId" type="text" />
	<button type="submit">Skapa</button>
</form>

<div>
	<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	Lägg till
	</button>
	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		@foreach (var project in Model.Users)
		{
			<a class="dropdown-item" href="#">@project.FirstName @project.LastName</a>
		}
	</div>
	</div>

	<input type="checkbox" asp-for="IsUpdating" />

	<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Välj projekt
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			@foreach (var project in Model.Projects)
			{
				<a class="dropdown-item" href="#">@project.Title</a>
			}
		</div>
	</div>

	<select onchange="">
		<option value="">Välj projekt</option>
		@foreach (var project in Model.Projects)
		{
			<option value="@project">@project.Title</option>
		}
	</select>


