@model ProjectViewModel


<body class="bodyUserProfileSettings"
      style="margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
            background-color: dimgrey;">
    <div class="wrapper my-sm-5"
         style="background-color:#fff;
                padding: 30px 50px;
                border: 1px solid #ff6219;
                border-radius: 15px;
                margin: 10px auto;
                max-width: 600px;">
<div class="card mb-3">
            <img class="card-img-top" src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(107).webp" alt="Card image cap" style="max-height: 180px; width:100%; object-fit: cover;">
    <div class="card-body">
        @foreach (var proj in Model.Projects)
        {
          <h5 class="card-title" style="color:#ff6219;">@proj.Title</h5>

          <p class="card-text">@proj.Description</p>
          <h6 class="card-title" style="color:#ff6219;">Skapare</h6>
                    <p class="card-text">@proj.Creator.FirstName @proj.Creator.LastName </p>
          <h6 class="card-title" style="color:#ff6219;">Deltagare</h6>
            @foreach (var user in Model.Users)
            {
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@user.FirstName @user.LastName</li>
                </ul>
            }
        }
    </div>
</div>
</div>
</body>