@model CVViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center"></div>

<div class="container">
    <div class="row">
        @foreach (var user in Model.Users) 
        {
            var userCvs = Model.Cvs.Where(c => c.OwnerId == user.Id).ToList();

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body position-relative">
                        <p class="font-weight-bold">@user.FirstName @user.LastName</p>
                        @foreach (var exp in Model.Experiences.Where(e => e.UserId == user.Id))
                        {
                            <div>
                                <p>@exp.Location</p>
                                @if (exp.Description !=null)
                                {
                                    <p>@exp.Description</p>
                                } else {
                                    <p>Beskrivning av arbetsuppgifter saknas.</p>
                                }
                            </div>
                        }
                    </div>
                    <div>
                        @if (userCvs.Any())
                        @foreach (var cv in Model.Cvs.Where(c => c.OwnerId == user.Id))
                        {
                            <p>Färdigheter:</p>
                                <ul>
                                    @foreach (var skill in cv.Skills) 
                                    {
                                        <li>@skill</li>
                                    }
                                </ul>
                        } else {
                            <p>Inga färdigheter listade</p>
                        }
                        @* Placeholder för en länk som skall peka på en profil *@
                        @* <a asp-controller="Profile"
                        asp-action="Index"
                        asp-route-id="@()"
                        class="stretched-link"></a> *@
                    </div>
                </div>
            </div>
        }
    </div>
</div>
            

    <a asp-controller="Project" asp-action="ProjectView">Gå till projektsida</a>

