@model CVViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center"></div>

<div class="container">
    <div class="card-group">
        @foreach (var user in Model.Users) 
        {

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body position-relative">
                        <div class="card-header font-weight-bold">@user.FirstName @user.LastName</div>
                        @foreach (var exp in Model.Experiences.Where(e => e.UserId == user.Id))
                        {
                            <div>
                                <div class="card-title fw-bold">@exp.Location</div>
                                @if (exp.Description !=null)
                                {
                                    <div class="card-text">@exp.Description</div>
                                    <br />
                                } else {
                                    <div class="card-text">Beskrivning av arbetsuppgifter saknas.</div>
                                    <br />
                                }
                            </div>
                        }
                    </div>
                    <div>
                        @foreach (var cv in Model.Cvs.Where(c => c.OwnerId == user.Id))
                        {
                            @if (cv.Skills.Any())
                            {
                                <p>Färdigheter:</p>
                                    <ul>
                                        @foreach (var skill in cv.Skills) 
                                        {
                                            <li>@skill</li>
                                        }
                                    </ul>
                            } else {
                                <p>Inga färdigheter listade</p>
                            }
                        }
                        @* Placeholder för en länk som skall peka på en profil *@
                        @* <a asp-controller="Profile"
                        asp-action="Index"
                        asp-route-id="@()"
                        class="stretched-link"></a> *@
                    </div>
                </div>
            </div>
        }
    </div>
</div>
            

    <a asp-controller="Project" asp-action="ProjectView">Gå till projektsida</a>

