@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="container">
    <div class="row row-cols-md-4 g-4 align-items-stretch">
        @foreach (var user in Model.Users) 
        {
            <div class="col">
                <div class="card h-100 d-flex flex-column">
                    <div class="card-body position-relative flex-grow-1" style="padding-bottom: 70px;">
                        <img src="@Url.Content(user.PictureUrl)" alt="image 1"
                             class="card-img-top w-100 rounded-3">
                        <div class="scrollable-content" style="max-height: 80%; overflow-y: auto; padding-bottom: 10px;">

                            <a asp-controller="Profile" asp-action="Profile" asp-route-id="@user.Id" style="text-decoration: none" class="text-black">
                                <div class="card-header font-weight-bold bg-dark text-light">@user.FirstName @user.LastName</div>
                            </a>
                        @foreach (var exp in Model.Experiences.Where(e => e.CvId == Model.Cvs.Where(cv => cv.OwnerId.Equals(user.Id)).FirstOrDefault().Id))
                        {
                            <div>
                                <br />
                                <div class="card-title fw-bold">@exp.Location</div>
                                @if (exp.Description !=null)
                                {
                                    <p class="card-text fw-light">@exp.Description</p>
                                } else {
                                    <p class="card-text fw-light">Beskrivning av arbetsuppgifter saknas.</p>
                                }   
                            </div>
                            @if (exp is Education edu)
                            {
                                <div class="education-details">
                                    <p class="card-text fw-light">Nivå:@edu.Level</p>
                                    <p class="card-text fw-light">Inriktning: @edu.Program</p>
                                </div>
                            }
                        }
                    
                        <br />
                       
							<div class="card-text"> Färdigheter: </div>
                            
                        @foreach (var cv in Model.Cvs.Where(c => c.OwnerId == user.Id))
                        {
                            @if (cv.Skills.Any())
                            {
                                <ul class="list-unstyled">
                                    @foreach (var skill in cv.Skills) 
                                    {
                                        <li class="card-text fw-light">@skill</li>
                                    }
                                </ul>
                            } else {
                                 <ul class="list-unstyled">
                                    <li class="card-text fw-light">Inga färdigheter listade</li>
                                </ul>
                            }
                            
                            <div class="text-center position-absolute bottom-0 start-0 w-100">
                                <form method="get" asp-controller="Cv" asp-action="Inspect" asp-route-id="@cv.OwnerId">
                                     <button type="submit" class="btn text-light"
                                                style="background-color:#ff6219; margin-bottom:2rem;">
                                                Visa CV
                                     </button>
                                </form>
                            </div>

                        }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<br />

<div class="container">
    <div class="row justify-content-center">
        
        <div class="col-md-4">
            <div><h6 style="color:#fff; text-align:center">Senaste tillagda projektet</h6></div>
                <div class="card">
                    
                    @if(Model.LatestProject !=null)
                    {
                        
                        <div class="card-body position-relative">
                        <div class="card-header">@Model.LatestProject.Title</div>
                        <div class="card-text">@Model.LatestProject.Description</div>
                        <div class="card-text fw-light">Datum:</div>
                        <div class="card-text fw-light">Start: @Model.LatestProject.StartDate.ToString("yy-MM-dd") Slut: @Model.LatestProject.EndDate.ToString("yy-MM-dd")</div>
                       
                        </div>
                    }
                    <div class="text-center">
                        <a  class="btn text-light"
                            style="background-color:#ff6219; margin-bottom:2rem;"
                        asp-controller="Project"
                        asp-action="Project"
                        asp-route-id="@Model.LatestProject.Id">
                        Visa detta projekt
                        </a>
                    </div>
                </div>
            </div>
       
        </div>
    </div>



<div class="d-flex justify-content-center mt-2">
    
        <a asp-controller="Project" asp-action="ShowProjectsView" class="btn text-light" style="background-color:#ff6219; margin:1rem;">Visa alla projekt</a>
   
</div>
<div>
    <a  class="btn btn-primary text-light"
    style="background-color:#ff6219; margin-bottom:2rem;"
    asp-controller="Message"
    asp-action="Inbox"
    asp-route-id="1">
        Visa Meddelanden
    </a>
</div>

