@model SearchViewModel

<div class="d-flex flex-column align-items-center justify-content-center" style="margin-top: 30px;">
    <div class="input-group">
        <form asp-controller="Search" asp-action="SearchWindow" method="get" class="d-flex align-items-center">
            <input type="search" 
                class="form-control rounded" 
                placeholder="Sök" 
                aria-label="Search" 
                aria-describedby="search-addon"
                name="searchTerm"
                value="@ViewData["SearchedName"]"
                style="height: 30px; margin-right: 10px" />
            <button type="submit"
                class="btn" 
                style="background-color:#ff6219; color:#fff; margin:1rem;" 
                data-mdb-ripple-init><i class="fa-solid fa-magnifying-glass"></i>
                Sök
            </button>
        </form>
   </div>
</div>


<div class="card" style="width:20rem; height:20rem; overflow-y:auto; max-height:20rem;">
    @if (!string.IsNullOrEmpty(ViewData["SearchedName"]?.ToString()))
    {
            <h5 class="mb-3">Sökresultat:</h5>
        @if (Model.UsersWithSkills != null && Model.UsersWithSkills.Any())
        {
                <ul class="list-unstyled">
                @foreach (var userWithSkills in Model.UsersWithSkills)
                    {
                        <li>
                        <a asp-controller="Profile" asp-action="Profile" asp-route-id="@userWithSkills.user.Id" style="text-decoration: none" class="text-black">
                            @userWithSkills.user.FirstName @userWithSkills.user.LastName
                            </a>
                            @if(userWithSkills.Skills.Any())
                            {
                                <ul class="list-unstyled">
                                    @foreach (var skill in userWithSkills.Skills)
                                    {
                                    <li class="fw-light" style="font-size: 0.85em; padding-left: 20px;">@skill</li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
        } else {
            <p>Inga resultat hittades för "@ViewData["SearchedName"]"</p>
        }
    } else {
        <div class="d-flex justify-content-center align-items-center" style="height: 100%; min-height:200px">
            <i class="fa-solid fa-magnifying-glass" style="font-size: 100px; color: #ffb08c;"></i>
        </div>
    }
</div>


<div class="input-group mt-2">
    <button type="button" class="btn" style="background-color:#ff6219;">
    <a asp-controller="Home" asp-action="Index" style="color:#fff;">Startsida</a>
    </button>
</div>

