@model CvViewModel


<section class="h-100">
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center">
			
			<div class="col col-lg-9 col-xl-8">
				<div class="card bg-dark" style="border: 2px solid #ff6219; ">
					<div class="container">
						<div class="row">
							<div class="col-sm-4">
					<div class="rounded-top text-dark d-flex flex-row" >
						<div class="ms-4 mt-5 d-flex flex-column">
							<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
								 alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
											 style="width: 150px; z-index: 1; box-shadow:2px 2px 4px dimgray">
									</div>
									</div>
							
						</div>
						<div class="col-sm-8">
						<div class="ms-3 text-light" style="margin-top: 100px;">
							<h4 style="text-align:center;">CV</h4>
									<h5 style="text-align:center;">@Model.Owner.FirstName @Model.Owner.LastName</h5>
							</div>
						</div>
							</div>
						
				
					<div class="row">
						<div class="col-sm-5">
					<div class="card-body p-4 text-black">
						<div class="mb-5  text-body">
										<div class="d-flex justify-content-center mt-2" style="margin-bottom:2rem;">
											<a asp-controller="Profile" asp-action="Profile" asp-route-id="@Model.Owner.Id" class="btn" style="background-color:#ff6219; color:#fff;">Till Profil</a>
										</div>
										<h6 class="lead fw-normal mb-1" style="color:#ff6219;">Kontakt</h6>
										<div class="p-1 bg-body-tertiary">

											@if (Model.Owner.ContactInformation != null)
											{
												<ul class="list-unstyled formatted-list">
													<li class="formatted-li"><b>Email:</b><span style="white-space: nowrap;">@Model.Owner.UserName</span> </li>
													<li class="formatted-li"><b>Telefon:</b><span style="white-space: nowrap; "> @Model.Owner.ContactInformation.Phone</span></li>
													@if (!string.IsNullOrEmpty(Model.Owner.ContactInformation.Address))
													{
														<li class="formatted-li"><b>Adress:</b> <span style="white-space: nowrap;">@Model.Owner.ContactInformation.Address</span> </li>
													}
												</ul>
											}
											else
											{
												<p class="fw-light">Kontaktinformation saknas</p>
											}

											<h6 class="lead fw-normal mb-1" style="color:#ff6219;">Skills</h6>
										

											@if (Model.Skills != null && Model.Skills.Any())
											{
												<ul class="list-unstyled formatted-list">
													@foreach (var skill in Model.Skills)
													{
														<li class="formatted-li" style="white-space: nowrap;">@skill</li>
													}
												</ul>
											}
											else
											{
												<p class="fw-light">Användaren har inga listade Skills</p>
											}

										</div>
									</div>
								</div>
							</div>
							
								<div class="card col-sm-7 mb-2 experience-container">
									<div class="card-body text-black">
									
										<h6 class="card-header" style="background-color:#fff; color:#ff6219; text-align:center;">Arbetslivserfarenhet</h6>
										@foreach (var work in Model.Work)
										{
											<div class="experience-item">
												<p class="card-text">@work.Description</p>
												<p class="card-text"><i>@work.StartDate.ToString("yyyy-MM-dd") - @work.EndDate.ToString("yyyy-MM-dd")</i></p>
											</div>
										}
										</div>
										</div>
									
									</div>
					<div class="row">
						<div class="col-sm-5">
							
						</div>
						

						<div class="card col-sm-7 mb-2 experience-container">
							<div class="card-body text-black">
								
								<h6 class="card-header" style="background-color:#fff; color:#ff6219; text-align:center;">Utbildningar</h6>
								
										@foreach (var education in Model.Educations)
										{
											<div class="experience-item">
												<p class="card-text">@education.Description</p>
												<p class="card-text"><i>@education.StartDate.ToString("yyyy-MM-dd") - @education.EndDate.ToString("yyyy-MM-dd")</i></p>
											</div>
										}
							</div>
						</div>
					</div>
					

					<div class="row">
						<div class="col-sm-5">
							<div class="card-body p-4 text-black">
								<div class="mb-5  text-body">
									<p class="lead fw-normal mb-1"></p>
									<div class="p-4 bg-body-tertiary">
									</div>
								</div>
							</div>
						</div>

						<div class="card col-sm-7 mb-2 experience-container">
							<div class="card-body text-black">
								
								<h6 class="card-header" style="background-color:#fff; color:#ff6219; text-align:center;">Andra Erfarenheter</h6>
										@foreach (var other in Model.OtherExperiences)
										{
											<div class="experience-item">
												<p class="card-text">@other.Description</p>
												<p class="card-text"><i>@other.StartDate.ToString("yyyy-MM-dd") - @other.EndDate.ToString("yyyy-MM-dd")</i></p>
											</div>
										}
							</div>
						</div>
					</div>
					
									

								</div>
							</div>
						</div>
						</div>
						</div>
					
				
</section>