@model UpdateCvViewModel

@{
    ViewData["Title"] = "Ändra CV";
}

<body class="bodyUserProfileSettings"
      style="margin: 0 0 5rem 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
            background-color: dimgrey;">
    <div class="wrapper my-sm-5"
         style="background-color:#fff;
                padding: 30px 50px;
                border: 1px solid #ff6219;
                border-radius: 15px;
                margin: 10px auto;
                max-width: 600px;">
        <h4 class="pb-4 border-bottom"
            style="letter-spacing: -1px;
                   font-weight: 400;"> 
            Ändra CV
        </h4>

        <form method="post" asp-action="AddWork">
            <input asp-for="WorkToAdd.CvId" value="@Model.CvId" hidden />
            <div class="row py-2">
                <h6 class="cv-h6"><b>Lägg till arbete</b></h6>
                <div class="col-md-6">
                    <label class="settingsLbl" for="title">Arbetsplats</label>
                    <input asp-for="WorkToAdd.Location" type="text" class="bg-light form-control">
                </div>
                <div class="col-md-6 pt-md-0 pt-3">
                    <label class="settingsLbl" for="workDesc">Arbetsbeskrivning</label>
                    <input asp-for="WorkToAdd.Description" type="text" class="bg-light form-control">
                </div>
            </div>
            <div class="row py-2">
                <div class="col-md-6">
                    <label class="settingsLbl" for="startdate">Arbetsroll</label>
                    <input asp-for="WorkToAdd.Role" type="text" class="bg-light form-control">
                </div>
                <div class="col-md-6">
                    <label class="settingsLbl" for="startdate">Stad</label>
                    <input asp-for="WorkToAdd.City" type="text" class="bg-light form-control">
                </div>
            </div>
            <div class="row py-2">
                <div class="col-md-6 pt-md-0 pt-3">
                    <label class="settingsLbl" for="startdate">Startdatum</label>
                    <input asp-for="WorkToAdd.StartDate" type="date" class="bg-light form-control">
                </div>
                <div class="col-md-6 pt-md-0 pt-3">
                    <label class="settingsLbl" for="enddate">Slutdatum</label>
                    <input asp-for="WorkToAdd.EndDate" type="date" class="bg-light form-control">
                </div>
            </div>
            <div class="row py-2">
                <div class="col-md-6">
                    <button type="submit" class="btn border border-light button mr-3 text-light" style="background-color:#ff6219;">Lägg till arbete</button>
                </div>
                <div class="col-md-6 pt-md-0 pt-3">
                </div>
            </div>
            <div class="row py-2">
                <h6 class="cv-h6"><b>Tillagda arbeten:</b></h6>
                <div class="col-md-12">
                    <ul class="list-group cv-list-group">
                        @foreach(var work in Model.Work)
                        {
                            <li>
                            <div class="work-item d-flex justify-content-between align-items-center">
									<span class="work-name"><b>@work.Description</b></span>
                                <button asp-action="RemoveExperience"
                                        asp-route-pid="@work.Id"
                                        class="btn btn-sm remove-btn"
                                        style="background-color: #fff;
                                                color: #ff6219;
                                                border: 1px solid #ff6219;
                                                padding: 5px 10px;
                                                font-size: 14px;
                                                margin-bottom: 2px;">
                                    <i class="fa-solid fa-xmark"></i> Ta bort
                                </button>
                            </div>
                            </li>

                            
                       
                            
                        }
                    </ul>
                </div>
            </div>
        </form>

        <form method="post" asp-action="AddEducation">
            <input asp-for="EducationToAdd.CvId" value="@Model.CvId" hidden />
            <div class="row py-2">
                <h6 class="cv-h6"><b>Lägg till utbildning</b></h6>
                <div class="col-md-6">
                    <label  class="settingsLbl" for="eduTitle">Program</label>
                    <input asp-for="EducationToAdd.Program" type="text" class="bg-light form-control">
                </div>
                <div class="col-md-6 pt-md-0 pt-3">
                    <label class="settingsLbl" for="eduDesc">Utbildningsbeskrivning</label>
                    <input asp-for="EducationToAdd.Description" type="text" class="bg-light form-control">
                </div>
            </div>
            <div class="row py-2">
                <div class="col-md-6">
                    <label class="settingsLbl" for="eduLocation">Skola</label>
                    <input asp-for="EducationToAdd.Location" type="text" class="bg-light form-control">
                </div>
                
            </div>
            <div class="row py-2">
                <div class="col-md-6">
                    <label class="settingsLbl" for="eduLevel">Nivå</label>
                    <input asp-for="EducationToAdd.Level" type="text" class="bg-light form-control">
                </div>
                <div class="col-md-6 pt-md-0 pt-3">
                    <label class="settingsLbl" for="startdate">Startdatum</label>
                    <input asp-for="EducationToAdd.StartDate" type="date" class="bg-light form-control">
                </div>
            </div>
            <div class="row py-2">
                <div class="col-md-6">
                    <label class="settingsLbl" for="eduLocation">Stad</label>
                    <input asp-for="EducationToAdd.City" type="text" class="bg-light form-control">
                </div>
                <div class="col-md-6 pt-md-0 pt-3">
                    <label class="settingsLbl" for="enddate">Slutdatum</label>
                    <input asp-for="EducationToAdd.EndDate" type="date" class="bg-light form-control">
                </div>
            </div>
            
            <div class="row py-2">
                <div class="col-md-6">
                    <button type="submit" id="addEducation" class="btn border border-light button mr-3 text-light" style="background-color:#ff6219;">Lägg till Utbildning</button>
                </div>
                <div class="col-md-6 pt-md-0 pt-3">
                </div>
            </div>
            <div class="row py-2">
                <h6 class="cv-h6"><b>Tillagda utbildningar:</b></h6>
                <div class="col-md-12">
                    <ul id="educationList" class="list-group cv-list-group">
                        @foreach(Education edu in Model.Educations)
                        {
                            <li>
                                <div class="edu-item d-flex justify-content-between align-items-center">
									<span class="edu-name"><b>@edu.Program</b></span>
                                    <button asp-action="RemoveExperience"
                                            asp-route-pid="@edu.Id"
                                            class="btn btn-sm remove-btn"
                                            style="background-color: #fff;
                                                color: #ff6219;
                                                border: 1px solid #ff6219;
                                                padding: 5px 10px;
                                                font-size: 14px;
                                                margin-bottom: 2px;">
                                        <i class="fa-solid fa-xmark"></i> Ta bort
                                    </button>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </form>

        <form method="post" asp-action="AddOtherExperience">
            <input asp-for="OtherToAdd.CvId" value="@Model.CvId" hidden />
            <div class="row py-2">
                <h6 class="cv-h6"><b>Lägg till annan erfarenhet</b></h6>
                <div class="col-md-6">
                    <label class="settingsLbl" for="otherTitle">Var?</label>
                    <input asp-for="OtherToAdd.Location" type="text" class="bg-light form-control">
                </div>
                <div class="col-md-6 pt-md-0 pt-3">
                    <label class="settingsLbl" for="otherDesc">Beskrivning</label>
                    <input asp-for="OtherToAdd.Description" type="text" class="bg-light form-control">
                </div>
            </div>
            <div class="row py-2">
                <div class="col-md-6">
                    <label class="settingsLbl" for="otherType">Typ av erfarenhet</label>
                    <input asp-for="OtherToAdd.Type" type="text" class="bg-light form-control">
                </div>
                <div class="col-md-6 pt-md-0 pt-3">
                    <label class="settingsLbl" for="startdate">Startdatum</label>
                    <input asp-for="OtherToAdd.StartDate" type="date" class="bg-light form-control">
                </div>
            </div>
            <div class="row py-2">
                <div class="col-md-6">
                    <label class="settingsLbl" for="otherLocation">Stad</label>
                    <input asp-for="OtherToAdd.City" type="text" class="bg-light form-control">
                </div>
                <div class="col-md-6 pt-md-0 pt-3">
                    <label class="settingsLbl" for="enddate">Slutdatum</label>
                    <input asp-for="OtherToAdd.EndDate" type="date" class="bg-light form-control">
                </div>
            </div>
            <div class="row py-2">
                <h6></h6>
                <div class="col-md-6">
                    <button type="submit" class="btn border border-light button mr-3 text-light" style="background-color:#ff6219;">Lägg till erfarenhet</button>
                </div>
                <div class="col-md-6 pt-md-0 pt-3">
                </div>
            </div>
            <div class="row py-2">
                <h6 class="cv-h6"><b>Tillagda erfarenheter:</b></h6>
                <div class="col-md-12">
                    <ul id="otherExpList" class="list-group cv-list-group">
                        @foreach(OtherExperience otherExp in Model.Other)
                        {
                            <li>
                                <div class="otherExp-item d-flex justify-content-between align-items-center">
									<span class="otherExp-name"><b>@otherExp.Type</b></span>
                                    <button asp-action="RemoveExperience"
                                            asp-route-pid="@otherExp.Id"
                                            class="btn btn-sm remove-btn"
                                            style="background-color: #fff;
                                                color: #ff6219;
                                                border: 1px solid #ff6219;
                                                padding: 5px 10px;
                                                font-size: 14px;
                                                margin-bottom: 2px;">
                                        <i class="fa-solid fa-xmark"></i> Ta bort
                                    </button>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </form>

        <form method="post" asp-action="AddSkill">
            <input asp-for="CvId" value="@Model.CvId" hidden />
            <div class="row py-2">
                <h6 class="cv-h6"><b>Lägg till skills</b></h6>
                <div class="col-md-6">
                    <label class="settingsLbl" for="skillTtl">Skill</label>
                    <input asp-for="SkillToAdd" type="text" class="bg-light form-control">
                </div>
                <div class="col-md-6 pt-md-0 pt-3">
                </div>
            </div>
            <div class="row py-2">
                <div class="col-md-6">
                    <button type="submit" class="btn border border-light button mr-3 text-light" style="background-color:#ff6219;">Lägg till skill</button>
                </div>
                <div class="col-md-6 pt-md-0 pt-3">
                </div>
            </div>
            <div class="row py-2">
				<h6 class="cv-h6"><b>Tillagda skills:</b></h6>
                <div class="col-md-12">
                    <ul id="skillList" class="list-group cv-list-group">
                        @for(int i = 0; i < Model.Skills.Count(); i++)
                        {
                            <li>
                                <div class="skill-item d-flex justify-content-between align-items-center">
									<span class="skill-name"><b>@Model.Skills[i]</b></span>
                                    <button asp-action="RemoveExperience"
                                            asp-route-id="@Model.CvId"
                                            class="btn btn-sm remove-btn"
                                            style="background-color: #fff;
                                                color: #ff6219;
                                                border: 1px solid #ff6219;
                                                padding: 5px 10px;
                                                font-size: 14px;
                                                margin-bottom: 2px;">
                                        <i class="fa-solid fa-xmark"></i> Ta bort
                                    </button>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </form>



        @*
        <div class="row py-2">
            <h6>Tillagda skills:</h6>
            <div class="col-md-12">
                <ul id="skillList" class="list-group cv-list-group">
                </ul>
            </div>
        </div>

        <div class="py-2">
            <form  method="post">
                <input asp-for="Cv.Id" value="@Model.Cv.Id" hidden />
                <div class="row py-2">
                    <h6>Lägg till arbete</h6>
                    <div class="col-md-6">
                        <label class="settingsLbl" for="title">Arbetsplats</label>
                        <input id="workTitle" type="text" class="bg-light form-control">  
                    </div>
                    <div class="col-md-6 pt-md-0 pt-3">
                        <label class="settingsLbl" for="workDesc">Arbetsbeskrivning</label>
                        <input id="workDescription" type="text" class="bg-light form-control">
                    </div>
                </div>
                <div class="row py-2">
                    
                    <div class="col-md-6">
                        <label class="settingsLbl" for="startdate">Arbetsroll</label>
                        <input id="workRole" type="text" class="bg-light form-control">

                    </div>
                    <div class="col-md-6 pt-md-0 pt-3">
                        <label class="settingsLbl" for="startdate">Startdatum</label>
                        <input id="workStart" type="date" class="bg-light form-control">
                        
                    </div>
                    </div>
                    <div class="row py-2">
                        
                        <div class="col-md-6">
                            <label class="settingsLbl" for="title">Stad</label>
                            <input id="workLocation" type="text" class="bg-light form-control">

                        </div>
                        <div class="col-md-6 pt-md-0 pt-3">
                            <label class="settingsLbl" for="enddate">Slutdatum</label>
                            <input id="workEnd" type="date" class="bg-light form-control">
                            
                        </div>
                    </div>
                <div class="row py-2">

                    <div class="col-md-6">
                        <button id="addWork" type="button" class="btn border border-light button mr-3 text-light" style="background-color:#ff6219;">Lägg till arbete</button>

                    </div>
                    <div class="col-md-6 pt-md-0 pt-3">
                        

                    </div>
                </div>
                
                <div class="row py-2">
                    <h6>Tillagda arbeten:</h6>
                    <div class="col-md-12">
                        <ul id="workList" class="list-group cv-list-group">
                            
                        </ul>
                    </div>
                </div>
            <div class="row py-2">
                    <h6>Lägg till utbildning</h6>
                <div class="col-md-6">
                    <label class="settingsLbl" for="eduTitle">Program</label>
                    <input id="educationTitle" type="text" class="bg-light form-control">

                </div>
                <div class="col-md-6 pt-md-0 pt-3">
                     <label class="settingsLbl" for="eduDesc">Utbildningsbeskrivning</label>
                     <input id="educationDescription" type="text" class="bg-light form-control">
                      
                     
                </div>
            </div>
                <div class="row py-2">
                   
                    <div class="col-md-6">
						<label class="settingsLbl" for="eduLevel">Nivå</label>
						<input id="educationLevel" type="text" class="bg-light form-control">

                    </div>
                    <div class="col-md-6 pt-md-0 pt-3">
						<label class="settingsLbl" for="startdate">Startdatum</label>
						<input id="educationStart" type="date" class="bg-light form-control">
                      

                    </div>
                </div>
                <div class="row py-2">
                   
                    <div class="col-md-6">
                        <label class="settingsLbl" for="eduLocation">Stad</label>
                        <input id="educationLocation" type="text" class="bg-light form-control">

                    </div>
                    <div class="col-md-6 pt-md-0 pt-3">
						<label class="settingsLbl" for="enddate">Slutdatum</label>
						<input id="educationEnd" type="date" class="bg-light form-control">
                        

                    </div>
                </div>

                <div class="row py-2">
                   
                    <div class="col-md-6">
						<button id="addEducation" type="button" class="btn border border-light button mr-3 text-light" style="background-color:#ff6219;">Lägg till Utbildning</button>

                    </div>
                    <div class="col-md-6 pt-md-0 pt-3">

                        

                    </div>
                </div>
                <div class="row py-2">
                    <h6>Tillagda utbildningar:</h6>
                    <div class="col-md-12">
                        <ul id="educationList" class="list-group cv-list-group">
                        </ul>
                    </div>
                </div>
                <div class="row py-2">
                    <h6>Lägg till annan erfarenhet</h6>
                    <div class="col-md-6">
                        <label class="settingsLbl" for="otherTitle">Annan erfarenhet</label>
                        <input id="otherExpTitle" type="text" class="bg-light form-control">

                    </div>
                    <div class="col-md-6 pt-md-0 pt-3">
                        <label class="settingsLbl" for="otherDesc">Beskrivning</label>
                        <input id="otherExpDescription" type="text" class="bg-light form-control">                     
                    </div>
                </div>
                <div class="row py-2">
                   
                    <div class="col-md-6">
                        <label class="settingsLbl" for="otherType">Typ av erfarenhet</label>
                        <input id="otherExpType" type="text" class="bg-light form-control">

                    </div>
                    <div class="col-md-6 pt-md-0 pt-3">
                        <label class="settingsLbl" for="startdate">Startdatum</label>
                        <input id="otherExpStart" type="date" class="bg-light form-control">
                       

                    </div>
                </div>
                <div class="row py-2">
                   
                    <div class="col-md-6">
                        <label class="settingsLbl" for="otherLocation">Stad</label>
                        <input id="otherExpLocation" type="text" class="bg-light form-control">

                    </div>
                    <div class="col-md-6 pt-md-0 pt-3">
                        <label class="settingsLbl" for="enddate">Slutdatum</label>
                        <input id="otherExpEnd" type="date" class="bg-light form-control">
                      

                    </div>
                </div>
                <div class="row py-2">
                    <h6></h6>
                    <div class="col-md-6">
						<button id="addOtherExp" type="button" class="btn border border-light button mr-3 text-light" style="background-color:#ff6219;">Lägg till erfarenhet</button>

                    </div>
                    <div class="col-md-6 pt-md-0 pt-3">
                        
                      

                    </div>
                </div>
                <div class="row py-2">
                    <h6>Tillagda erfarenheter:</h6>
                    <div class="col-md-12">
                        <ul id="otherExpList" class="list-group cv-list-group">
                        </ul>
                    </div>
                </div>
                <div class="row py-2">
                    <h6>Lägg till skills</h6>
                    <div class="col-md-6">
                        <label class="settingsLbl" for="skillTtl">Skill</label>
                        <input id="skillTitle" type="text" class="bg-light form-control">

                    </div>
                    <div class="col-md-6 pt-md-0 pt-3">
                      
                     

                    </div>
                </div>
                <div class="row py-2">
                   
                    <div class="col-md-6">
						<button id="addSkill" type="button" class="btn border border-light button mr-3 text-light" style="background-color:#ff6219;">Lägg till skill</button>

                    </div>
                    <div class="col-md-6 pt-md-0 pt-3">

                       

                    </div>
                </div>
                <div class="row py-2">
                    <h6>Tillagda skills:</h6>
                    <div class="col-md-12">
                        <ul id="skillList" class="list-group cv-list-group">
                        </ul>
                    </div>
                </div>

          
                

            <div class="py-3 pb-4 border-bottom">
                <button type="submit" class="btn border border-light button mr-3 text-light" style="background-color:#ff6219;">Spara CV</button>
                <button class="btn button" style="border:solid 1px #ff6219; background-color: #fff;; color: #ff6219">Avbryt</button>
            </div>

            </form>
        </div>
    </div>
    *@
    <script>
        function addItem(input1Id, input2Id, input3Id, input4Id, input5Id, input6Id, input7Id, input8Id, input9Id, listId, hasDescription = true, hasRole = false, hasStart = false, hasEnd = false, hasLocation = false) {
            const input1 = document.getElementById(input1Id);
            const input2 = hasDescription ? document.getElementById(input2Id) : null;
            const input3 = hasRole ? document.getElementById(input3Id) : null;
            const input4 = hasStart ? document.getElementById(input4Id) : null;
            const input5 = hasLocation ? document.getElementById(input5Id) : null;
            const input6 = hasEnd ? document.getElementById(input6Id) : null;
            const input7 = document.getElementById(input7Id);
            const input8 = document.getElementById(input8Id);
            const input9 = document.getElementById(input9Id);
            const list = document.getElementById(listId);

            const title = input1.value.trim();
            const description = hasDescription && input2 ? input2.value.trim() : '';
            const role = hasRole && input3 ? input3.value.trim() : '';
            const start = hasStart && input4 ? input4.value.trim() : '';
            const location = hasLocation && input5 ? input5.value.trim() : '';
            const end = hasEnd && input6 ? input6.value.trim() : '';
            const programme = input7 ? input7.value.trim() : '';
            const level = input8 ? input8.value.trim() : '';
            const type = input9 ? input9.value.trim() : '';

           
            if (title === '' || (hasDescription && description === '') || (hasStart && start === '') || (hasLocation && location === '') || (hasEnd && end === '') || (hasRole && role === '')) {
                alert('Fyll i alla obligatoriska fält!');
                return;
            }

            const listItem = document.createElement('li');
            listItem.className = 'list-group-item d-flex justify-content-between align-items-center';
            let datesHtml = '';

        
            if (start && end) {
                datesHtml = `${start} - ${end}<br>`;
            } else if (start) {
                datesHtml = `${start}<br>`;
            } else if (end) {
                datesHtml = `${end}<br>`;
            }

            listItem.innerHTML = `
                <div>
                    <strong>${title}</strong><br>
                    ${hasRole ? `<i>${role}</i><br>` : ''}
                    ${description ? `${description}<br>` : ''}
                    ${programme ? `Program: ${programme}<br>` : ''}
                    ${level ? `Nivå: ${level}<br>` : ''}
                    ${type ? `Typ: ${type}<br>` : ''}
                    ${location}<br>
                    ${datesHtml}
                </div>
                <button class="btn btn-sm remove-btn" style="background-color:#fff; color:#ff6219;"><i class="fa-solid fa-xmark"></i></button>
            `;

            listItem.querySelector('.remove-btn').addEventListener('click', function () {
                list.removeChild(listItem);
            });

            list.appendChild(listItem);

          
            input1.value = '';
            if (hasDescription && input2) input2.value = '';
            if (hasRole && input3) input3.value = '';
            if (hasStart && input4) input4.value = '';
            if (hasLocation && input5) input5.value = '';
            if (hasEnd && input6) input6.value = '';
            if (input7) input7.value = '';
            if (input8) input8.value = '';
            if (input9) input9.value = '';
        }

      
        document.getElementById('addWork').addEventListener('click', function () {
            addItem('workTitle', 'workDescription', 'workRole', 'workStart', 'workLocation', 'workEnd', null, null, null, 'workList', true, true, true, true, true);
        });

       
        document.getElementById('addEducation').addEventListener('click', function () {
            addItem('educationTitle', 'educationDescription', null, 'educationStart', 'educationLocation', 'educationEnd', 'educationProgramme', 'educationLevel', null, 'educationList', true, false, true, true, true);
        });

      
        document.getElementById('addOtherExp').addEventListener('click', function () {
            addItem('otherExpTitle', 'otherExpDescription', null, 'otherExpStart', 'otherExpLocation', 'otherExpEnd', null, null, 'otherExpType', 'otherExpList', true, false, true, true, true);
        });

       
        document.getElementById('addSkill').addEventListener('click', function () {
            addItem('skillTitle', null, null, null, null, null, null, null, null, 'skillList', false, false, false, false, false);
        });
    </script>

</body>